dataframe_interaction.csv
dataframe_user.csv
dataframe_product.csv
dataframe_purchase.csv
dataframe_review.csv
dataframe_session.csv
interactions.csv
products.csv
users.csv
purchases.csv
reviews.csv
sessions.csv
sample_interaction.csv
sample-product.csv
sample-users.csv
sample-sessions.csv
sample-reviews.csv
sample-purchases.csv
dsada.ipynb

